.test{

}

.card{
    border: 2px solid #4B5563; 
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
}

.cardImg{
    background-color: blue;
}

.cardTexts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
