.main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow-y: auto;
}

.sideBar{
    background-color: #edf5f7;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.sideBarContent{
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 0 0 0 20px;
}

.contentBar{
    background-color: #edf5f7;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.contentNav{
    background-color: #edf5f7;
}

.contentNavContent{
    background-color: #ffffff;
    height: 90%;
    width: 100%;
    margin-top: 20px;
}

.sideBarNav{
    background-color: #edf5f7;
}

.sideBarNavContent{
    margin-left: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.sideBarBtnGroup{
    margin-top: 20px;
}

.content{
    justify-content: center;
    align-items: center;
    display: flex;

    width: 90%;
    margin: 20px auto;
    margin-top: 35px;
}











